* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: auto;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: linear-gradient(45deg, red, orange, purple);
  cursor: pointer;
  overflow: hidden;
}
.container:hover {
  width: 700px;
  height: 700px;
  opacity: 0.8;
  transition: all 0.3s 0.5s;
}
form {
  opacity: 0;
}
form:hover {
  padding: 50px;
  width: 700px;
  height: 700px;
  opacity: 1;
  transition: all 0.3s 0.5s;
}
form span {
  display: block;
  padding: 10px 20px;
  font-size: 18px;
}
.email input,
.phone-num input {
  width: 60%;
}
form input,
select {
  padding-left: 10px;
  margin-left: 20px;
  border-radius: 10px;
  border: 0;
  height: 30px;
  background-color: rgba(201, 147, 220, 0.36);
}
form input::placeholder {
  color: black;
}
.gender-select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.info input {
  width: 80%;
  height: 100px;
}
button {
  margin: 10px 20px;
  width: 100px;
  height: 40px;
  background: black;
  color: white;
  border-radius: 5px;
  border: none;
}
button:hover {
  background-color: rgb(50, 49, 49);
  cursor: pointer;
}
