* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(white, black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  position: relative;
  margin: 50px;
  width: 100vw;
  height: 100vh;
}

.card {
  width: 150px;
  height: 200px;
  background: url(./426d23474113cd5cde2f2c64920d9bcc_327c975639cbb75ebdb722933d406ce6.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  box-shadow: gold 0 0 50px;
}

.card:nth-child(1) {
  position: absolute;
  top: calc(5% + 100px);
  left: 50%;
}
.card:nth-child(2) {
  position: absolute;
  top: calc(20% + 100px);
  left: 15%;
}
.card:nth-child(3) {
  position: absolute;
  top: calc(50% + 100px);
  left: 0;
}
.card:nth-child(4) {
  position: absolute;
  top: calc(80% + 100px);
  left: 15%;
}
.card:nth-child(5) {
  position: absolute;
  top: calc(95% + 100px);
  left: 50%;
}
.card:nth-child(6) {
  position: absolute;
  top: calc(80% + 100px);
  left: 85%;
}
.card:nth-child(7) {
  position: absolute;
  top: calc(50% + 100px);
  left: 100%;
}
.card:nth-child(8) {
  position: absolute;
  top: calc(20% + 100px);
  left: 85%;
}

.magicBall {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 100px);
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: repeating-radial-gradient(
    circle at 50%,
    rgb(255, 255, 255),
    rgb(230, 174, 222) 50px 40%,
    rgb(92, 16, 73) 90%
  );
  box-shadow: inset 0 0 10px #fff, 0 0 40px #fff,
    -10px 0 100px rgb(187, 67, 187), 10px 0 100px rgb(184, 57, 184);
  display: flex;
  justify-content: center;
  align-items: center;
}

.magicBall button {
  background: none;
  border: none;
  font-size: 50px;
  color: blue;
}

#output {
  padding: 5px;
  background-color: #fff;
  display: none;
}
